.login {
    width: 100vw;
    height: 619px;
    background-color: var(--secondColor);
    display: flex;
    align-items: center;
    justify-content: center;
}

  .loginWrapper {
    width: 50%;
    height: 60%;
    display: flex;
}

  .loginLeft,
  .loginRight {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .loginLogo {
    font-size: 50px;
    font-weight: 800;
    color: #4c5335;
    margin-bottom: 10px;
  }

.loginDesc {
    font-size: 24px;
    color:var(--mainColor);
}

  .loginBox{
      height: 300px;
      padding: 20px;
      background-color:var(--secondColor);
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 140%;
  }

  .loginInput{
      height: 50px;
      border-radius: 10px;
      border: 2px solid var(--border);
      font-size: 20px;
      padding-left: 20px;
      
  }

  .loginInput:focus{
      outline: none;
  }

  .loginButton{
    height: 50px;
    border-radius: var(--BigBorderRadius);
    border: none;
    background-color: var(--mainColor);
    color: white;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    padding-top: 5px;
    margin-top: 5px;
  }



.loginRegisterButton{
    width: 100%;
    align-self: center;
    height: 40px;
    border-radius: var(--BigBorderRadius);
    border: none;
    background-color: var(--mainColor);
    color: white;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    padding-top: 10px;
}




.loginButton:hover{
    background-color: var(--button-hover);
    transform:scale(1.1);
    border-color: var(--mainColor);
}

.loginRegisterButton:hover{
    background-color: var(--button-hover);
    transform:scale(1.1);
    border-color: var(--mainColor);
}


@media only screen and (max-width: 480px) {
    .loginWrapper{
        flex-direction: column;
        height: 100%;
    }
    .loginLeft{
        display: none;
    }
    .loginRight{
        width: 100%;
    }
    .loginBox{
        width: 100%;
    }
}

@media only screen and (max-width: 768px) {
    .loginWrapper{
        flex-direction: column;
        height: 100%;
    }
    .loginLeft{
        display: none;
    }
    .loginRight{
        width: 100%;
    }
    .loginBox{
        width: 100%;
    }
}

@media only screen and (max-width: 1024px) {
    .loginWrapper{
        flex-direction: column;
        height: 100%;
    }
    .loginLeft{
        display: none;
    }
    .loginRight{
        width: 100%;
    }
    .loginBox{
        width: 100%;
    }
}

@media only screen and (max-width: 1280px) {
    .loginWrapper{
        flex-direction: column;
        height: 100%;
    }
    .loginLeft{
        display: none;
    }
    .loginRight{
        width: 100%;
    }
    .loginBox{
        width: 100%;
    }
}
@media only screen and (max-width: 1366px) {
    .loginWrapper{
        flex-direction: column;
        height: 100%;
    }
    .loginLeft{
        display: none;
    }
    .loginRight{
        width: 100%;
    }
    .loginBox{
        width: 100%;
    }
}
@media only screen and (max-width: 1440px) {
    .loginWrapper{
        flex-direction: column;
        height: 100%;
    }
    .loginLeft{
        display: none;
    }
    .loginRight{
        width: 100%;
    }
    .loginBox{
        width: 100%;
    }
}


